.root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.contentSpace {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.stepsAction {
  margin-top: 24px;
  text-align: right;
}

